.task{
    background-color: #34495e;
    padding: 15px;
    margin: 5px;
    overflow-x: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.task span{
    color: aliceblue;
}

.icon{
    float: right;
    margin-right: 20px;
}

article{
    display: grid;
}

.edit-task{
    width: 85%;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}